{
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Mydrag": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
