* {
  margin: 0;
  padding: 0;
}

#root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tip {
  margin-top: 10px;
  color: #999;
  text-align: center;
}
